doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../../assets/ico/favicon.png')
    title Your Details
    //
       Bootstrap core CSS 
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    //
       Custom styles for this template 
    link(href='stylesheets/signin.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='../../assets/js/html5shiv.js')
      script(src='../../assets/js/respond.min.js')
  body
    .container
        .list-group
              a.list-group-item(href='#') 
                  span.pull-right #{epic}
                  | EPIC
              a.list-group-item(href='#') 
                  span.pull-right #{ACNo}
                  | AC No
              a.list-group-item(href='#')
                  span.pull-right #{PartNo}
                  | Part No
              a.list-group-item(href='#')
                  span.pull-right #{SerialNo}
                  | Serial No
              a.list-group-item(href='#')
                  span.pull-right #{SectionNo}
                  | Section No
              a.list-group-item(href='#')
                  span.pull-right #{VotersAddress}
                  | Voters' Address
              a.list-group-item(href='#')
                  span.pull-right #{VotersName}
                  | Voters' Name
              a.list-group-item(href='#')
                  span.pull-right #{Relation}
                  | Relation
              a.list-group-item(href='#')
                  span.pull-right #{RelationName}
                  | Relation Name
              a.list-group-item(href='#')
                  span.pull-right #{Age}
                  | Age
              a.list-group-item(href='#')
                  span.pull-right #{Sex}
                  | Sex
              a.list-group-item(href='#')
                  span.pull-right #{IDCardNo}
                  | ID Card No
        div(style="text-align:center")
          a.btn.btn-primary(href="/delhi") Search Again